html {
  position: relative;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p, figure, fieldset {
  margin: 0;
}

iframe {
  border: none;
}

section {
  padding: 25px 0;
}

section:first-child {
  padding-top: 60px; 
} 

section:last-child {
  padding-bottom: 50px; 
} 

.container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}

p {
  margin-bottom: 30px;
}

p:last-child {
  margin-bottom: 0;
}

.title__middle {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 20px;
}

.title__subtitle {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 30px;
}

span {
  font-style: italic;
}


