.order__block_img, .order__block_text {
  display: inline-block;
  vertical-align: top;
}

.order__block:not(:last-child) {
  margin-bottom: 30px;
}

.order__block_img {
  max-width: 560px;
}

.order__block_img:first-child {
  margin-right: 30px;
}

.order__block_text {
  max-width: 480px;
}

.order__block_text:first-child {
  margin-right: 40px;
}

.span__bold {
  font-weight: 700;
  font-style: normal;
}