.summary__list {
  padding-left: 46px;
  margin-bottom: 30px;
}

.summary__item {
  margin-bottom: 10px;
}

.summary__item:last-child {
  margin-bottom: 0;
}

.summary__item::before {
  content: "— ";
}

.summary__descr {
  padding: 0 30px 25px 45px;
}